# Folders

Scripts/__pycache__/
__pycache__/
Wallpaper-Updater_venv/
Scripts/static/css
Scripts/static/js
Scripts/build
Scripts/dist

# Files
Scripts/Wallpaper-Updater.png
test.py
Icons/Wallpaper-Updater.psd

# File Extensions

*.spec
*.exe
*.sublime-workspace
*.ico
