C:\MS_Notes\my_scripts\Wallpaper-Updater\build\
C:\MS_Notes\my_scripts\Wallpaper-Updater\dist\
C:\MS_Notes\my_scripts\Wallpaper-Updater\Temp_Images\
C:\MS_Notes\my_scripts\Wallpaper-Updater\WallpaperUpdater.sublime-workspace