<html>
  <head>
    <title>Connection to reddit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <style>
    .content {
      max-width: 500px;
      margin: auto;
    }
  </style>
  <body style="background-color: #FF5700">
    <center>
        <div class="content">
            <a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/3NXLbkTg/Wallpaper-Updater.png' width='300' height='300' border='0' alt='Wallpaper Updater Logo'/></a>
            <h1>Successfully connected to reddit</h1>
        </div>
    </center>
  </body>
</html>
